@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{
  margin:0;
}

.out{
  height:100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color:rgb(221, 221, 221) ;
  font-family: "Raleway",sans-serif;
}

.w-full{
  width:100%;
}

.center{
  padding-top:10px;
  height: 70vh;
  width:1000px;
  display:flex;
  background-color: white;
  justify-content: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow-y:auto;
  position: relative;
}


.studentContainer{
  display: flex;
  margin-top:10px;
  width: 100%;
  padding-bottom:10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(221, 221, 221);
}

h3{
  margin-top:0;
  margin-left:20px;
  margin-bottom:0px;
  font-size:2rem;
}

ul{
  list-style-type: none;
  margin-top:5px;
}

.icon{
  border-style:solid;
  width:120px;
  height:120px;
  margin-left: 20px;
  border-width: 1px;
  border-color: rgb(192, 185, 185);
  border-radius: 9999px;
  overflow: hidden;
  margin-right:10px;
}

.input-container{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  width: 970px;
}

.input-name{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

input{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-top:10px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(192, 185, 185);
  font-size: 20px;
  font-family: "Raleway",sans-serif;
}

input:focus{
  outline: none;
}

.hidden{
  display: none;
}


button{
  margin-left: auto;
  margin-right:50px;
  height: 55px;
  background: white;
  border-style: none;
  font-size: 2rem;
  color:rgb(192, 185, 185);
  display: flex;
}
button:hover{
  cursor:pointer;
}


.tags-container{
  margin-left: 40px;
  margin-bottom: 20px;
}

.tag{
  margin-right: 10px;
  border-radius: 5px;
  padding-left:20px;
  padding-right:20px;
  padding-top:5px;
  padding-bottom: 5px;
  background-color:rgb(192, 185, 185);
  font-family: "Raleway",sans-serif;
}

.add_tag{
  margin-left: 40px;
  margin-bottom:20px;
}